In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Itupiranga,BR,2021-01-29 17:00:46,-5.1347,-49.3267,89.6,62,40,6.91
1,1,Port Alfred,ZA,2021-01-29 16:56:30,-33.5906,26.8910,70.0,81,0,1.99
2,2,Jamestown,US,2021-01-29 16:56:14,42.0970,-79.2353,21.0,86,90,16.11
3,3,San Patricio,US,2021-01-29 16:56:58,28.0170,-97.5169,69.8,64,1,10.36
4,4,Maceio,BR,2021-01-29 16:58:03,-9.6658,-35.7353,75.2,88,75,1.14

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Itupiranga,BR,2021-01-29 17:00:46,-5.1347,-49.3267,89.60,62,40,6.91
4,4,Maceio,BR,2021-01-29 16:58:03,-9.6658,-35.7353,75.20,88,75,1.14
8,8,Tonantins,BR,2021-01-29 17:00:47,-2.8731,-67.8022,85.37,73,73,4.05
10,10,Rikitea,PF,2021-01-29 17:00:48,-23.1203,-134.9692,79.12,69,80,4.76
13,13,Kumba,CM,2021-01-29 17:00:49,4.6363,9.4469,83.95,59,89,5.37
19,19,Atuona,PF,2021-01-29 16:56:15,-9.8000,-139.0333,78.55,76,8,18.97
20,20,Puerto Ayora,EC,2021-01-29 16:56:36,-0.7393,-90.3518,82.40,74,20,8.05
23,23,Cape Town,ZA,2021-01-29 16:52:55,-33.9258,18.4232,77.00,53,20,18.41
26,26,Namatanai,PG,2021-01-29 16:57:11,-3.6667,152.4333,81.19,82,29,9.86
34,34,Meulaboh,ID,2021-01-29 16:57:40,4.1363,96.1285,77.77,83,99,5.06

In [16]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Itupiranga      BR     89.60  -5.1347  -49.3267
4         Maceio      BR     75.20  -9.6658  -35.7353
8      Tonantins      BR     85.37  -2.8731  -67.8022
10       Rikitea      PF     79.12 -23.1203 -134.9692
13         Kumba      CM     83.95   4.6363    9.4469
19        Atuona      PF     78.55  -9.8000 -139.0333
20  Puerto Ayora      EC     82.40  -0.7393  -90.3518
23     Cape Town      ZA     77.00 -33.9258   18.4232
26     Namatanai      PG     81.19  -3.6667  152.4333
34      Meulaboh      ID     77.77   4.1363   96.1285

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Itupiranga,BR,89.60,-5.1347,-49.3267,Hotel Panorama
4,Maceio,BR,75.20,-9.6658,-35.7353,Hotel Ponta Verde Maceió
8,Tonantins,BR,85.37,-2.8731,-67.8022,Hotel Rei Davi
10,Rikitea,PF,79.12,-23.1203,-134.9692,Pension Maro'i
13,Kumba,CM,83.95,4.6363,9.4469,El Bethel Hotel
19,Atuona,PF,78.55,-9.8000,-139.0333,Villa Enata
20,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Castillo Galapagos
23,Cape Town,ZA,77.00,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
26,Namatanai,PG,81.19,-3.6667,152.4333,Namatanai Hotel
34,Meulaboh,ID,77.77,4.1363,96.1285,Kost Pria

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]